# Node modules (for all directories)
node_modules/

# Environment files (global for the entire project)
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files (for the entire project)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Firebase serviceAccountKey.json file (specific to backend)
backend/src/utils/serviceAccountKey.json

# Build and distribution files (for all projects)
build/
dist/

# Test coverage files (for all projects)
coverage/

# Package manager specific (global)
.pnp
.pnp.js
package-lock.json

# IDE and system-specific files (global)
.idea/
.vscode/
.DS_Store

# Additional project-specific ignores (backend-specific)
backend/build/
backend/dist/
backend/.env
backend/.env.*

# Additional frontend-specific ignores (dashboard and sites)
dashboard/build/
site1/build/
site2/build/

# Shared folder ignores
shared/build/

